[submodule "pelican-svbhack"]
	path = pelican-svbhack
	url = git@github.com:matachi/pelican-svbhack.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
